// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 

body {
	font-size: 100%;
	padding: 30px;
}

// color varibales

$maincolor: #414042;

// Fonts
@font-face {
	font-family: 'Odudo-Light';
	src: url('odudo-light.eot');
	src: url('odudo-light.eot?#iefix') format('embedded-opentype'),
         url('odudo-light.woff2') format('woff2'),
	     url('odudo-light.woff') format('woff'),
	     url('odudo-light.ttf') format('truetype'),
	     url('odudo-light.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Odudo-Regular';
	src: url('odudo.eot');
	src: url('odudo.eot?#iefix') format('embedded-opentype'),
         url('odudo.woff2') format('woff2'),
	     url('odudo.woff') format('woff'),
	     url('odudo.ttf') format('truetype'),
	     url('odudo.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Odudo-SemiBold';
	src: url('odudo-semi-bold.eot');
	src: url('odudo-semi-bold.eot?#iefix') format('embedded-opentype'),
         url('odudo-semi-bold.woff2') format('woff2'),
	     url('odudo-semi-bold.woff') format('woff'),
	     url('odudo-semi-bold.ttf') format('truetype'),
	     url('odudo-semi-bold.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Odudo-Bold';
	src: url('odudo-bold.eot');
	src: url('odudo-bold.eot?#iefix') format('embedded-opentype'),
         url('odudo-bold.woff2') format('woff2'),
	     url('odudo-bold.woff') format('woff'),
	     url('odudo-bold.ttf') format('truetype'),
	     url('odudo-bold.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}

// Font Variables

$fontsm: 'Odudo-Light';
$fontm: 'Odudo-Regular';
$fontl: 'Odudo-SemiBold';
$fontxl: 'Odudo-Bold';

// H Tags

h1 {
	font-family: $fontxl;
}

h2 {
	font-family: $fontxl;
	color: $maincolor;
	font-size: 5.5em;
}

p {
	font-family: $fontsm;
}

// Grain Overlay

.grain {
	background: url(noise.jpg);
  background-repeat: repeat;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 99;
  opacity: 0.1;
  pointer-events: none;
}

// Sections

	// Header

	.header {
		@include outer-container();
		@include span-columns(2);
		height: 100%;

		.logo {
			width: 100%;
		}

		.navlinks {
			font-family: $fontxl;
			border-top: 5px solid $maincolor;
    	padding-top: 17px;
    	margin-top: 30px;
		}

		a {
			appearance: none;
			text-decoration: none;
			color: $maincolor;
			font-size: 1.5em;
		}

		span {
			float: right;
		}
	}

	// recipes

	.recipes {
		@include outer-container();
		@include span-columns(9);
		padding-left: 30px;

		h2 {
			line-height: 0.9;
			margin-bottom: 0px;
		}
	}

	.intro {
		border-bottom: 5px solid $maincolor;
		border-top: 5px solid $maincolor;
		margin-top: 234px;
		padding-bottom: 60px;
	}

section {}